# Ambiente de execução (development | test | production)
NODE_ENV="development"

# URLs Públicas do Next.js (acessíveis no browser)
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3000/api"