# ============================================================
# Porta onde a API irá rodar
# Caso não definas, usará o valor padrão configurado no código (5500)
# Exemplo: 3000 ou 8080
# ============================================================
PORT=5500


# ============================================================
# Ambiente da aplicação
# Valores permitidos: "production" ou "development"
# ============================================================
NODE_ENV=development


# ============================================================
# Chave secreta usada para assinar tokens JWT
# Deve ser um UUID válido
# Gere um usando: https://www.uuidgenerator.net/
# Exemplo: 2b9c5f57-8e0b-4f46-b9b8-f67cdcf9a2fe
# ============================================================
JWT_SECRET=d1f7d8c1-45a3-4f52-bbc7-0c4d86de88c2

DATABASE_URL=postgresql://user:password@localhost:5432?database_name
